/* ------ CSS RESET ------ */

* {
   padding: 0;
   margin: 0;
   font-size:100%;
   line-height: 1em;
  }

/* ----------- MAIN STYLING ----------- */

body {
    width: 75%;
    max-width: 670px;
    margin: auto;
    background: #fafafa;
    color: #333;
}

/* ---------- TYPOGRAPHY --------- */


section1 {
    font-family: 'Libre Baskerville', serif;
}

section2 {
    font-family: 'Open Sans', sans-serif;
}

section3 { font-family: 'Arvo', serif;
    
}

