/* ------ CSS RESET ------ */



/* ----------- MAIN STYLING ----------- */

body {
    width: 700px;
    max-width: 500px;
    margin: auto;
    background: #fafafa;
    color: #333;
    text-align: left;
    padding: 0 30px;
    font-size: 100%;

}

article {
    margin-bottom: 6em;
}

/* ---------- TYPOGRAPHY --------- */



h1, h2, h3 {
    font-weight: normal;
    color: #333;
    margin: 0;
}

p {
    line-height: 1.6em;
}

h1 {
    font-size: 3.998em;
    
}

h2 {font-size: 2.25em;
    font-style: italic;
    margin-bottom: 30px; 
}


h3 {font-size: 1.25em;
    text-transform: uppercase; }

blockquote {
    margin: 0;
    font-weight: normal;
    font-size: 1.5em;
    font-style: italic;
    padding: 1em 0 0 0;
}

blockquote p {
    color: #999;
    hanging-punctuation: first;
    text-indent: -0.28em;
}

blockquote cite {
    color: #999;
    font-size: 0.667em;
    display: inline;
    margin-bottom: 1em;
}


.intro {
    font-size: 1.25em;
    padding-bottom: 1em;
}

.dropcap{
    float: left;
    color: #000000;
    font-size: 60px;
    line-height: 20px;
    padding-top: 2px;
    padding-right: 1px;
    font-family: 'Libre Baskerville', serif;
        
}

.version1 {
    padding-top: 50px;
    font-family: 'Libre Baskerville', serif;
}

.version1 .intro {
    padding-bottom: 1em;
}

.version2 {
    font-family: 'open sans', sans-serif;
}

.version2 h2 {
    font-family: 'open sans', sans-serif;
}

.introcaps {
    text-transform: uppercase;
}

.version2 cite {
    font-style: normal;
    text-transform: uppercase;
}

.version2 p+p {
    margin-bottom: -1em;
}

.version2 p+p+p {
    text-indent: 1.5em
}


.version3 h1, h2 {
      font-family: 'Arvo', serif;}
      
.version3 p {
    font-family:'Open Sans', sans-serif; }
        
.version3 blockquote {
    font-family: 'Arvo', serif;}
      
hr {
    margin: 4em 0;
    height: 1px;    
    background-color:#FF0066;
    color:#FF0066;
    border: 0 none;
        }








































